$primary:hsl(240, 100%, 5%);


$nav-link-color:#98969a;
$nav-link-hover-color:$primary;


$t:hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);
$lp:hsl(36, 100%, 99%);
$helo:hsl(233, 8%, 79%);
$he:hsl(236, 13%, 42%);
$ll:hsl(240, 100%, 5%);