

.left-section {
    padding: 0px 10px
}

.image-size {
    /* height: 400px; */
    width: 1100px;
}

.image-size img {
    width: 100%;
    height: auto;
    overflow: hidden;
}


.content-section {
    display: flex;
    /* width: 100%; */
    /* justify-content:space-between; */
}


.bright-text {
    width: 50%;
    font-size: 65px;
    font-weight: bold;
    padding: 10px 0px;
    /* text-align: center; */
}

.description-text {
    /* width: 50%; */
    font-size: 25px;
    color: hsl(266deg 3% 42%);
    padding: 10px 0px;
    /* text-align: center; */
}

.btn-color {
    color: hsl(22deg 100% 96%);
    background-color: hsl(3deg 84% 64%);
    padding: 10px 30px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}


.aside-section {
   
    background-color: hsl(240, 100%, 5%);
    padding:15px 15px;
}

.new-text{
    font-size:2rem;
    color:hsl(35, 77%, 62%);
}



.feature {
    margin-top:5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    /* justify-content: space-around; */
       /* padding: 0px 10px */
}
h3{
    color: hsl(260deg 10% 88%);
    margin-bottom: 30px;
}

.feature-subtext {
    margin-bottom: 40px; 
    color:hsl(36, 100%, 99%);
}
.feature-main {
 border-bottom: 1px solid hsl(238deg 16% 29%);
}

.bottom-part {
  
    margin-top: 20px;
  
}

.bottom-section {
    display: flex;
    padding: 10px 20px;
}

.bottom-image {
    height: 200px;
    width: 150px;

}

.bottom-image img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.bottom-text {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding: 0 20px;
}

.number {
    font-size: 30px;
    color: hsl(260deg 6% 79%);
    margin-bottom: 20px;
}

.bottom-subheading{
    font-size: 20px ;
    font-weight: 900;
    color: hsl(244deg 63% 5%);
    margin-bottom: 20px;
}

.bottom-description {
    color: hsl(260deg 6% 79%);
    line-height: 30px;
}
