.left-section {
    padding: 0px 10px
}

.image-size {
    height: 350px;
    overflow: hidden;
}

.image-size img {
    width: 100%;
    height: auto;

}


.content-section {
    display: flex;
    /* width: 100%; */
    /* justify-content:space-between; */
}


.bright-text {
    width: 50%;
    font-size: 45px;
    font-weight: bold;
    // padding: 10px 0px;
    /* text-align: center; */
}

.description-text {
    /* width: 50%; */
    font-size: 20px;
    color: hsl(266deg 3% 42%);
    padding: 10px 0px;
    /* text-align: center; */
}

.btn-color {
    color: hsl(22deg 100% 96%);
    background-color: hsl(3deg 84% 64%);
    padding: 10px 30px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}


.aside-section {

    background-color: hsl(240, 100%, 5%);
    padding: 30px;
}

.new-text {
    font-size: 3rem;
    color: hsl(35, 77%, 62%);
}





.feature {
    padding: 20px 0px;
    border-bottom: 2px solid hsl(238deg 23% 21%);
}

h3 {
    color: hsl(260deg 10% 88%);
    margin-bottom: 10px;
}

.feature-subtext {
    margin-bottom: 20px;
    color: hsl(36, 100%, 99%);
}



.bottom-part {
    margin-top: 10px;

}

.bottom-section {
    display: flex;

}

.bottom-image {
    height: 200px;
    width: 150px;

}

.bottom-image img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.bottom-text {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding: 0 20px;
}

.number {
    font-size: 30px;
    color: hsl(260deg 6% 79%);

}

.bottom-subheading {
    font-size: 20px;
    font-weight: 900;
    color: hsl(244deg 63% 5%);

}

.bottom-description {
    color: hsl(260deg 6% 79%);
    line-height: 30px;
}